
main{
    border: solid 2px burlywood;
    padding: 18px;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100vh;
    width: 95%;
    margin-left: 2%;
    }
    
    aside{
        display: flex;
        align-items: center;
    }
    #add{
    font-size: 26px;
    font-family:  'Arial Narrow',
     Arial, sans-serif
    }
    select{
        border: none;
        outline: none;
    }
    section{
        display: flex;
        gap: 80%;
        align-content: center;
        justify-content: end;
        border: solid rgb(217, 209, 209) 0.2px;
        border-left: none;
        border-top: none;
        border-right: none;
    }
    
    article p{
        color: grey;
        font-size: larger;
    }
     p{
        color: grey;
     }
    
    .box{
        width: 90%;
        height: 80px;
        border: solid grey 2px;
    }
    .pointer{
        cursor: pointer;
    }
    #number{
        border: solid grey 3px;
        width: 27%;
        color: grey;
        justify-content: left;
        margin: 7px 5px 5px 5px;
        height: 85%;
        border-left: none;
        border-top: none;
        border-bottom: none;
        display: flex;
        gap: 250px;
    }
    option{
        font-size:16px ;
    }
    .enter input{
        height: 90%;
        padding: 2px;
        font-size: 18px;
        border: none;
        outline: none;
    }
    .btn{
        width: 90%;
        background-color: black;
        padding: 20px;
        color: white;
        font-size: 18px;
        margin-bottom: 20px;
    }
    @media screen and (max-width
    :800px) {
        .enter input{
            display: none;
            
        }
     section{
        display: flex;
        gap: 70%;
     }   
    }
    @media screen and (max-width
    :380px) {
    section{
        gap: 60%;
    }
    }
    @media screen and (max-width
    :300px) {
    section{
        gap: 50%;
    }
    }
    @media screen and (max-width
    :230px) {
    section{
        gap: 40%;
    }
    main{
        height: 120vh;
        /* border: solid gold 2px; */
    }
    }
    